# Label Encoding

Label Encoding and Ordinal Encoding are two techniques used to encode categorical data as numerical data

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({"color" : ["red","blue","red","green","green"]})

In [3]:
df

   color
0    red
1   blue
2    red
3  green
4  green

In [4]:
from sklearn.preprocessing import LabelEncoder

In [5]:
encoder = LabelEncoder()

In [6]:
encoder.fit_transform(df[["color"]])

/opt/conda/lib/python3.10/site-packages/sklearn/preprocessing/_label.py:116: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([2, 0, 2, 1, 1])

#  Disadvantage

it will give labels the categorical data as 0,1,2,etc. In this way , the model will consider that
3 > 2 , 2 > 1  which we does not want . bcs we can not say that green is greater than blue

# Ordinal Encoding

In [7]:
from sklearn.preprocessing import OrdinalEncoder

In [10]:
df = pd.DataFrame({"degree" : ["school" , "graduate", "masters" ,"school" , "graduate", "masters" ]})

In [11]:
df

     degree
0    school
1  graduate
2   masters
3    school
4  graduate
5   masters

In [14]:
encoder = OrdinalEncoder(categories = [["school" ,"graduate" , "masters"]])

In [16]:
arr = encoder.fit_transform(df[["degree"]])

In [17]:
arr

array([[0.],
       [1.],
       [2.],
       [0.],
       [1.],
       [2.]])

In [19]:
df1 = pd.DataFrame(arr,columns = encoder.get_feature_names_out())

In [20]:
df1

   degree
0     0.0
1     1.0
2     2.0
3     0.0
4     1.0
5     2.0

In [22]:
pd.concat([df,df1] , axis = 1)

     degree  degree
0    school     0.0
1  graduate     1.0
2   masters     2.0
3    school     0.0
4  graduate     1.0
5   masters     2.0